<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.simplifiedcoding.simplifiedcoding">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <uses-library android:name="org.apache.http.legacy" android:required="false"/>

        <activity android:name="myapp.FindEmployeeActivity" />
        <activity android:name="myapp.ShowEmployeesActivity" />
        <activity android:name="myapp.AddEmployeeActivity" />
        <activity android:name="myapp.AddProductActivity" />
        <activity android:name="myapp.ProductInfoActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name="myapp.ScanActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>